{% extends "index.html" %}
{% block main %}

<table class="paleblue">
    <tr>
        <th>
            Username
        </th>
        <th>
            Imię
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            email
        </th>
        <th>
            Czy aktywny?
        </th>
        <th>
            Akcje
        </th>

    </tr>
    {% for object in object_list %}
    <tr tr class="{% cycle 'odd' 'even' %}">
        <td>
            {{ object.username }}
        </td>
        <td>
            {{ object.first_name }}
        </td>
        <td>
            {{ object.last_name }}
        </td>
        <td>
            {{ object.email }}
        </td>
        <td>
            {{ object.is_active|yesno:"Aktywny,Nie aktywny"  }}
        </td>
        <td>
            <a href="{% url "deactivateOperator" pk=object.id %}" class="button">Deaktywuj</a>
            <a href="{% url "activateOperator" pk=object.id %}" class="button">Aktywuj</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}