{% load selected_event %}
<html>
{% include "head.html" %}
<div id="main_top_bar">
    <div id="title">
        <h1>Reservation System</h1>
    </div>
    <div id="selected_event">
        {% selected_event request user %}
        {% login user %}
    </div>
    <div class="clear"></div>

</div>
<div id="main_menu">
    {% if user.is_authenticated %}
    <a href="" class="button">New Operator</a>
    <a href="" class="button">Operator List</a>
    <a href="{% url "NewEvent" %}" class="button">New Event</a>
    <a href="{% url "ListEvent" %}" class="button">Event List</a>
    <a href="{% url "NewGame" %}" class="button">New Game</a>
    <a href="{% url "GamesList" %}" class="button">Game List</a>
    <a href="{% url "Rental" %}" class="button">New Rental</a>
    <a href="{% url "Return" %}" class="button">Return</a>
    <a href="{% url "NewClient" %}" class="button">New client</a>
    <a href="{% url "ClientList" %}" class="button">Client list</a>
    <a href="{% url "SelectEvent" %}" class="button">Select Event</a>
    {% endif %}
</div>

<div id="main">

{% block main %}{% endblock %}
</div>
</body>
</html>