<html>
{% include "head.html" %}
<div id="main_top_bar">

    <h1>Reservation System</h1>

</div>
<div id="main_menu">
    <a href="" class="button">New Operator</a>
    <a href="" class="button">Operator List</a>
    <a href="{% url "NewGame" %}" class="button">New Game</a>
    <a href="{% url "GamesList" %}" class="button">Game List</a>
    <a href="" class="button">New Rental</a>
    <a href="{% url "NewClient" %}" class="button">New client</a>
    <a href="{% url "ClientList" %}" class="button">Client list</a>
</div>

<div id="main">

{% block main %}{% endblock %}
</div>
</body>
</html>