{% extends "index.html" %}
{% block main %}

<form action="{% url "changePassword" %}" method="post">
{% csrf_token %}
<table class="paleblue">
    {% for f in form %}
    <tr class="{% cycle 'row1' 'row2' %}">
      <td class="left">
        {{ f.label }}
      </td>
      <td class="right">
        {{ f }}
        <span class="error">{{ f.errors }}</span>
      </td>
    </tr>
    {% endfor %}
    <tr class="row1">
        <td></td>
      <td>
        <input type="submit" class="button" value="Zapisz" />
      </td>
    </tr>
</table>
</form>

{% endblock %}