{% extends "index.html" %}
{% block main %}

<table class="paleblue">
    <tr>
        <th>
            Imię i nazwisko
        </th>
        <th>
            wiek
        </th>
        <th>
            płeć
        </th>
        <th>
            kod kreskowy
        </th>
        <th>
            akcje
        </th>
    </tr>
    {% for object in object_list %}
    <tr tr class="{% cycle 'odd' 'even' %}">
        <td>
            {{ object }}
        </td>
        <td>
            {{ object.age }}
        </td>
        <td>
            {{ object.gender }}
        </td>
        <td>
            {{ object.barcode }}
        </td>
        <td>
            <a href="{% url "DeleteClient" pk=object.id %}" class="button">Usuń</a>
            <a href="{% url "ClientEdit" pk=object.id %}" class="button">Edytuj</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}