{% extends "index.html" %}
{% block main %}

<table class="paleblue">
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Data
        </th>
        <th>
            Akcje
        </th>
    </tr>
    {% for object in object_list %}
    <tr tr class="{% cycle 'odd' 'even' %}">
        <td>
            {{ object }}
        </td>
        <td>
            {{ object.date }}
        </td>
        <td>
            <a href="{% url "EventUpdate" pk=object.id %}" class="button">Edytuj</a>
            <a href="{% url "EventDetails" pk=object.id %}" class="button">Szczegóły</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}