{% extends "index.html" %}
{% block main %}

<h2>Game: #{{object.number}} {{ object.name }}</h2>
<table class="paleblue">
    {% for gamecopy in object.gameCopy %}
        <tr>
            <td>
                {{ gamecopy.barcode }}
            </td>
            <td>
                {{ gamecopy.weight }}
            </td>
            <td>
                {{ gamecopy.comments }}
            </td>
            <td>
                {{ gamecopy.state }}
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}