{% extends "index.html" %}
{% block main %}

<h2>Nowa Gra</h2>
<form action="{% url "NewGame" %}" method="post">
    {% csrf_token %}
    <table class="paleblue">
        {{ form }}
    </table>
    <fieldset>
        <legend>Egzemparz gry</legend>
        {{ gameCopyItemFormset.management_form }}
        {{ gameCopyItemFormset.non_form_errors }}
        {% for gameCopyItemForm in gameCopyItemFormset %}
        <table class="paleblue">
            {{ gameCopyItemForm }}
        </table>
        <div class="inline">
            {{ gameCopyItemForm.description.errors }}
            {{ gameCopyItemForm.description.label_tag }}
            {{ gameCopyItemForm.description }}
        </div>
        {% endfor %}
    </fieldset>
    <input type="submit" value="save" class="button" />
</form>

{% endblock %}