{% extends "index.html" %}
{% block main %}

<h2>Wypożyczenie</h2>

<form action="{% url "Rental" %}" method="post">
    {% csrf_token %}
    <p>
        <label for="gameCopyBarcode">Kod kreskowy egzemparza gry:</label>
        <input type="text" name="gameCopyBarcode" id="gameCopyBarcode" value="{{ gameCopyBarcode_val }}" />
        <ul class="error_list">
        {% for error in gameCopyBarcode_errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
    </p>
    <p>
        <label for="clientBarcode">Kod kreskowy karty klienta:</label>
        <input type="text" name="clientBarcode" id="clientBarcode" value="{{ clientBarcode_val }}"/>
        <ul class="error_list">
        {% for error in clientBarcode_errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
    </p>
    <p>
        <label for="comment">Komentarz:</label>
        <textarea name="comment" id="comment">{{ comment_val }}</textarea>
    </p>
    <p>
        <label for="gameCopyWeight">Waga egzemplarza gre:</label>
        <input type="text" name="gameCopyWeight" id="gameCopyWeight" value="{{ gameCopyWeight_val }}"/>
        <ul class="error_list">
        {% for error in gameCopyWeight_errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
    </p>
    <input type="submit" value="Zapisz" />
</form>

{% endblock %}