{% extends "index.html" %}
{% block main %}

<h2>Zwrot</h2>

{% if gameCopy == None %}
<form action="{% url "Return" %}" method="post">
    {% csrf_token %}
    <p>
        <label for="gameCopyBarcode">Game Copy barcode:</label>
        <input type="text" name="gameCopyBarcode" id="gameCopyBarcode" value="{{ gameCopyBarcode_val }}" />
        <ul class="error_list">
        {% for error in gameCopyBarcode_errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
    </p>
    <input type="submit" value="Submit" />
</form>
{% endif %}
{% if gameCopy != None %}
<h3>Szczegóły egzemplarza</h3>
<p><b>Tytuł:</b> {{ gameCopy.game }}</p>
<p><b>Klient:</b> {{ gameCopy.client }}</p>
<p><b>Waga:</b> {{ gameCopy.weight }}</p>
<p><b>Komentarz:</b> {{ gameCopy.comments }}</p>
<br />
<a href="{% url "makeReturn" pk=gameCopy.id %}" class="button">Save return</a>
{% endif %}


{% endblock %}