{% extends "index.html" %}
{% block main %}

<table class="paleblue">
    <tr>
        <th>
            #
        </th>
        <th>
            Game
        </th>
        <th>
            Number of loan
        </th>
        <th>
            Number of returns
        </th>
    </tr>
    {% for d in data %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td>
            {{ forloop.counter }}
        </td>
        <td>
            {{ d.game }}
        </td>
        <td>
            {{ d.count_loan }}
        </td>
        <td>
            {{ d.count_return }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}